Pcsx2Updater/__pycache__/Contants.cpython-39.pyc
Pcsx2Updater/__pycache__/GithubApi.cpython-39.pyc
Pcsx2Updater/__pycache__/Pcsx2Updater.cpython-39.pyc
PCSX2-64bit-AVX2/**
Pcsx2Updater/__pycache__/Contants.cpython-38.pyc
Pcsx2Updater/__pycache__/GithubApi.cpython-38.pyc
Pcsx2Updater/__pycache__/Pcsx2Updater.cpython-38.pyc
Pcsx2Updater/Contants.py
